<h1>Sign up</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <input
    type="text"
    name="user[username]"
    value="<%= @user.username %>"
    placeholder="username">

  <input
    type="password"
    name="user[password]"
    placeholder="password">

  <input class="btn" type="submit" value="Sign up">
   
</form>

<% if flash.now[:errors] %>
  <ul>
  <% flash.now[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>