<h1>Create a new post</h1>

<form action="<%= sub_posts_url %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    id=""
    value="<%= form_authenticity_token %>">

  <input
    type="text"
    name="post[title]"
    placeholder="title">
    
  <input
    type="text"
    name="post[url]"
    placeholder="url">
    
  <textarea
    name="post[content]"
    placeholder="content"
    ></textarea>

  <input class="btn" type="submit" value="Create">
</form>

<% if flash.now[:errors] %>
  <ul>
  <% flash.now[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>